@mixin mq($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;
  @if $range == mobile-only {
    @media screen and (max-width: #{$tablet - 0.02}) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-only {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  } @else if $range == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $range == notDesktop {
    @media screen and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}
// Media mixins

@mixin minMedia($startBreakpoint) {
  @media screen and (min-width: $startBreakpoint) {
    @content;
  }
}

@mixin maxMedia($finishBreakpoint) {
  @media screen and (max-width: $finishBreakpoint) {
    @content;
  }
}

@mixin rangeMedia($startBreakpoint, $finishBreakpoint) {
  @media screen and (min-width: $startBreakpoint) and (max-width: $finishBreakpoint) {
    @content;
  }
}
@mixin fontButton($ff: $dm-sans, $fw: 700, $fs: 16px, $lh: 1.31) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

// Centered Flex Mixin

@mixin centeredFlex($type: flex, $align: center, $just: center) {
  display: $type;
  align-items: $align;
  justify-content: $just;
}
