
<section class="customer-reviews" id="customer-reviews">
  <h2 class="customer-reviews__title" hidden>customer-reviews</h2>


  <!-- Container -->

  <div class="container">
    <!-- Slider main container -->
    <div class="slider-container">
      <!-- Additional required wrapper -->
      <ul class="slider-wrapper list">
        <li class="slider-slide customer-reviews__item">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customers4-1x.png 1x,
                ./images/customer-reviews/customers4-2x.png 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviews/customers4-1x.png"
              alt="photo of a customer"
            />
          </picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>

        <li class="slider-slide customer-reviews__item">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customers2-1x.png 1x,
                ./images/customer-reviews/customers2-2x.png 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviews/customers2-1x.png"
              alt="photo of a customer"
            />
          </picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>

        <li class="slider-slide customer-reviews__item">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customers3-1x.png 1x,
                ./images/customer-reviews/customers3-2x.png 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviews/customers3-1x.png"
              alt="photo of a customer"
            />
          </picture>
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
  </div>
</section>
