<header class="header" id="header">
    <div class="container">
        <div class="header-hero__container">
            <div class="wrap-nav">
                <a class="link logo" href="./index.html">
                    <picture>
                        <source srcset="./images/hero-header/logo.png 1x, ./images/hero-header/logo_2x.png 2x" />
                        <img src="./images/hero-header/logo.png" alt="company logo" />
                    </picture>
                </a>
  
                <nav class="header-nav">
                    <ul class="list header-nav__list">
                        <li class="header-nav__item">
                            <a class="link header-nav__link header-nav__link--current" href="./index.html">Home</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="link header-nav__link" href="#about-us">About us</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="link header-nav__link" href="#about">How it’s made?</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="link header-nav__link" href="#products">Our products</a>
                        </li>
                        <li class="header-nav__item">
                            <a class="link header-nav__link" href="#contacts">Contact</a>
                        </li>
                    </ul>
                </nav>
  
                <button class="button header-menu" aria-expanded="false" type="button" data-menu-open>
                    <svg class="" width="20" height="12">
                        <use class="" href="./images/hero-header/icons.svg#icon-burger"></use>
                    </svg>
                </button>
                <button class="button header-button animate__animated animate__heartBeat animate__slower"
                 type="button" data-modal-open >
                Buy now >
            </button>
        </div>

        <div class="wrap-title">
            <h1 class="hero-title">
                <span class="hero-title--small">ice cream made with</span>
                <span class="hero-title--big">passion</span>
            </h1>

            <ul class="list button-title">
                <li class="button-title__item">
                    <a class="link button-title--pink" href="#products">Products</a>
                </li>
                <li class="button-title__item">
                    <a class="link button-title--white" href="#about">How it’s made?</a>
                </li>
            </ul>
        </div>

        <div class="wrap-company">
            <div class="company-abouts-1">
                <div class="company-abouts-1__circle"></div>
                <p class="company-abouts-1__num">16</p>
                <p class="company-abouts-1__text">cafes</p>
            </div>

            <div class="company-abouts-2">
                <div class="company-abouts-2__circle"></div>
                <p class="company-abouts-2__num">23</p>
                <p class="company-abouts-2__text">food trucks</p>
            </div>
        </div>

        <div class="wrap-text">
            <p class="hero-text">
                Our natural ice cream is based on the milk of Ukrainian cows. Do not miss the opportunity
                to enjoy its taste.
            </p>
 
            <a class="link button-arrow" href="#advantage-gallery">
                <svg class="icon-arrow">
                    <use class="" href="./images/hero-header/icons.svg#icon-arrow_right"></use>
                </svg>
            </a>
        </div>

        <picture class="pic-ellipse">
            <source srcset="./images/hero-header/ellipse_m.png 1x, ./images/hero-header/ellipse_m@2x.png 2x" media="(max-width: 320px)" />
            <source srcset="./images/hero-header/ellipse.png 1x, ./images/hero-header/ellipse@2x.png 2x" media="(max-width: 768px)" />
            <source srcset="./images/hero-header/ellipse_d.png 1x, ./images/hero-header/ellipse_d@2x.png 2x" media="(min-width: 1200px)" />
            <img src="./images/hero-header/ellipse_m.png" alt="ellipse" />
        </picture>

        <picture class="pic-ice-cream">
            <source srcset="./images/hero-header/ice-cream-pic_m.png 1x, ./images/hero-header/ice-cream-pic_m_2x.png 2x"
                media="(max-width: 768px)" />
            <source srcset="./images/hero-header/ice-cream-pic_t.png 1x, ./images/hero-header/ice-cream-pic_t_2x.png 2x"
                media="(max-width: 1199px)" />
            <source srcset="./images/hero-header/ice-cream-pic_d.png 1x, ./images/hero-header/ice-cream-pic_d_2x.png 2x"
                media="(min-width: 1200px)" />
            <img src="./images/hero-header/ice-cream-pic_d.png" alt="ice-cream picture" />
        </picture>

        <picture class="pic-milk animate__animated animate__flipInY">
            <source srcset="./images/hero-header/milk-pic_t.png 1x, ./images/hero-header/milk-pic_t_2x.png 2x"
                media="(max-width: 1200px)" />
            <source srcset="./images/hero-header/milk-pic_d.png 1x, ./images/hero-header/milk-pic_d_2x.png 2x"
                media="(min-width: 1200px)" />
            <img src="./images/hero-header/milk-pic_d.png" alt="milk" />
        </picture>

        <picture class="pic-girl animate__animated animate__flipInY">
            <source srcset="./images/hero-header/girl-pic_t.png 1x, ./images/hero-header/girl-pic_t_2x.png 2x"
            media="(max-width: 1200px)" />
        <source srcset="./images/hero-header/girl-pic_d.png 1x, ./images/hero-header/girl-pic_d_2x.png 2x"
            media="(min-width: 1200px)" />
        <img src="./images/hero-header/girl-pic_d.png" alt="girl" />
    </picture>
</div>
</div>
</header>
