<section class="products">
  <span class="products-label">100% natural</span>
  <h2 class="products-title">products</h2>
  <ul class="products-list">
    <li class="products-item">
      <a href="products-card">
        <div class="products-img1"></div>
        <h2 class="products-card-title">ice cream</h2>
        <div class="products-card-dots">...</div>
        <p class="products-card-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </a>
    </li>
    <li class="products-item">
      <a href="products-card">
        <div class="products-img2"></div>
        <h2 class="products-card-title">ice cream</h2>
        <div class="products-card-dots">...</div>
        <p class="products-card-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </a>
    </li>
    <li class="products-item">
      <a href="products-card">
        <div class="products-img3"></div>
        <h2 class="products-card-title">ice cream</h2>
        <div class="products-card-dots">...</div>
        <p class="products-card-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
      </a>
    </li>
  </ul>
</section>
