.backdrop {
  position: fixed;
  min-width: 320px;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 165, 186, 0.5);
  transition: opacity $main-effect, visibility $main-effect;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all $main-effect;
}

.modal {
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 40px;

  width: 95vw;
  height: 100vh;
  background-color: $primary-bg-color;
  box-shadow: $contacts-shadow;
  transition: transform $main-effect;
  transform: translate(-50%, -50%) scale(1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform $main-effect;
  }
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  stroke: $primary-color;
  background-color: inherit;
  @include centeredFlex();
}
.modal-icon {
  transition: stroke $main-effect, transform $main-effect;
  &:focus,
  &:hover {
    stroke: $social-icon-bg-color;
  }
}

.modal-title {
  text-align: center;
  @include fontButton($fs: 20px, $lh: 1.15);
  color: $primary-color;
  margin-bottom: 12px;

  @include minMedia($desk) {
    line-height: calc(30 / 20);
  }
}

.modal-form {
  margin-bottom: 10px;
}

.form-label,
.form-comment-label {
  @include fontButton($dm-sans, 700, 12px, 1.16);
  color: $secondary-text-color;
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  caret-color: $primary-color;
  transition: border-color $main-effect;
  &:focus {
    border-color: $primary-color;
  }
}

.form-comment-text {
  width: 100%;
  height: 90px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  caret-color: $primary-color;
  transition: border-color $main-effect;

  &::placeholder {
    @include fontButton($dm-sans, 500, 14px, 1.14);
    color: rgba(117, 117, 117, 0.5);
    @include minMedia($desk) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
  }
  &:focus {
    border-color: $primary-color;
  }
}

.form-comment {
  margin-bottom: 20px;
}

.form-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill $main-effect;
  fill: $primary-color;
  .form-input:focus + & {
    fill: $social-icon-bg-color;
  }
}

.form-check-text {
  @include fontButton($dm-sans, 700, 12px, 1.16);
  color: $secondary-text-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include minMedia($desk) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.form-check-icon {
  fill: transparent;
}

.form-check-text .form-check-icon {
  border: 1px solid $secondary-text-color;
  border-radius: 4px;
  box-shadow: $contacts-shadow;
  margin-right: 8.28px;
  @include centeredFlex();
  transition: transform $main-effect;
  transition: border $main-effect, background-color $main-effect,
    box-shadow $main-effect;

  .form-policy-check:checked + & {
    border: 1px solid $primary-color;
    border-radius: 4px;
    background-color: $primary-color;
    box-shadow: none;
    transition: border $main-effect, background-color $main-effect,
      box-shadow $main-effect;
  }
  .form-policy-check:focus + & {
    border: 1px solid $primary-color;
  }
}

.form-policy-check:checked + .form-check-text .form-policy-icon {
  fill: $bg-color;
}
.form-button {
  background-color: $primary-color;
  color: $bg-color;
  min-width: 200px;
  min-height: 44px;
  padding: 0 30px;
  display: block;
  border-radius: $button-border-radius;
  margin-right: auto;
  margin-left: auto;
  color: $primary-color;
  background-color: $social-icon-bg-color;
  border: transparent;
  @include fontButton;
  text-align: center;
  transition: background-color $main-effect;
  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $bg-color;
    box-shadow: $contacts-shadow;
  }
}
